﻿@model Lap3.Models.Category
@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="DeleteConfirmed" method="post">
	<input type="hidden" asp-for="Id" />
	<p>Are you sure you want to delete @Model.Name?</p>
	<button type="submit" class="btn btn-danger">Delete</button>
</form>
