﻿@model IEnumerable<Lap3.Models.Category>
<h2>Products</h2>
<table class="table">
    
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>

                <td>
                    <a asp-action="Update"
                       asp-route-id="@category.Id">Edit</a> |
                    <a asp-action="Delete"
                       asp-route-id="@category.Id">Delete</a>
                    <a asp-action="Display"
                    asp-route-id="@category.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>