﻿@model IEnumerable<Lap3.Models.Product>

@section Scripts {
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Web Bán Hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        li a {
            color: aliceblue;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container">
            <a class="navbar-brand text" href="#">Trang Chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                <div class="row row-cols row-cols-md-3 g-4">
                    @foreach (var product in Model)
                    {
                        <div class="col">
                            <div class="card">
                                <li class="product-item">
                                    <div class="product-image">
                                        <img src="@product.ImageUrl" alt="ProductImage" style="width: 300px; height: auto;" />
                                    </div>
                                    <div class="product-details">
                                        <h3 class="card-text text-center">@product.Name</h3>
                                            <p class=" card-text text-center">@product.Price</p>
                                            <p class="card-text text-center">@product.Description</p>
                                        <div class="product-actions d-flex justify-content-center">
                                            <a asp-action="Display" asp-route-id="@product.Id" class="btn waves-effect btn-info mx-1">View</a>
                                            <a asp-action="Update" asp-route-id="@product.Id" class="btn waves-effect btn-info mx-1">Edit</a>
                                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn waves-effect btn-info mx-1">Delete</a>
                                            </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    }

                    <div class="col" *ngIf="products.length % 3 !== 0">
                        <div class="card empty-product">
                        </div>
                    </div>
                    <div class="col" *ngIf="products.length % 3 !== 0">
                        <div class="card empty-product">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-primary text-white p-3">
                    <h5>Social Media</h5>
                    <ul class="list-unstyled list">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    </div>

    </div>


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="bg-dark text-white text-center py-4">
                    <h3>Cột 1</h3>
                    <p>Nội dung cột 1</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-dark text-white text-center py-4">
                    <h3>Cột 2</h3>
                    <p>Nội dung cột 2</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-dark text-white text-center py-4">
                    <h3>Cột 3</h3>
                    <p>Nội dung cột 2</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>